@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7F7FB;
  --foreground: #1E1B2E;
  --primary: #7C6FF0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
